.wrapper {
  margin: auto;
  margin-top: 1vh;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog_item {
  padding: 5px;
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .3s;
  margin-top: 10px;
}

.catalog_item:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.title {

}

.image {
  margin-bottom: 20px;
}

/* .price {
  display: flex;
  flex-direction: column;
} */


* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", Tahoma, sans-serif;
  text-align: center;
  margin: 0;
  color: #444;
}

.name {
  font-size: 1.25em;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 10px;
  font-size: 12px;
}

.table_item {
  position: relative;
  max-width: 16%;
  min-width: 300px;
  padding: 5px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.table_item:hover {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.img {
  max-width: 100%;
  height: 191px;
}

.name_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.descr {
  height: 80px;
  border-bottom: 1px solid #ddd;
}

.select {
  padding-top: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.size {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
}

.size_item {
  width: 34%;
  font-size: 13px;
  font-weight: bold;
  border: .5px solid #ddd;
  border-radius: 5px;
  padding: 5px 8px;
}

.size_item:hover {
  cursor: pointer;
}

.size_item:focus {
  background-color: #eee;
}

/* .size_item_active {
  background-color: #eee;
} */

.price_holder {
  padding-top: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.price {
  font-size: 22px;
}

.price_count {
  max-width: 55px;
}

.btn_order {
  font-size: 16px;
  font-weight: bold;
}

.btn_order:hover {
  color: #fff;
  background-color: #cccccc;
}


button {
  font-size: 13px;
  background-color: #fff;
  border: .5px solid #ddd;
  border-radius: 5px;
  padding: 5px 8px;
  -webkit-transition: .2s;
  transition: .2s;
}

button:hover {
  cursor: pointer;
  background-color: #f9fff8;
}

button:focus {
  outline: none;
}











@media screen and (max-width: 1280px) {
  .wrapper {
    width: 90%;
  }

  .catalog_item {
    width: 32%;
  }
}

@media screen and (max-width: 860px) {
  .wrapper {
    width: 98%;
  }
}

@media screen and (max-width: 700px) {
  .catalog_item {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .catalog_item {
    width: 100%;
  }
}