.wrapper {
  border-bottom: 1px solid gray;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  margin: 15px 0 15px 0;
  height: 80px;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.bask {
  width: 35px;
}

@media screen and (max-width: 500px) {
  .logo {
    margin-left: 5%;
    height: 50px;
  }

  .contacts {
    flex-wrap: wrap;
    width: 45%;
  }

  a {
    font-weight: bold;
    color:red;
    text-decoration: none;
  }

  .contact {
    display: none;
  }
}