<div class="table_item" id="table_1">
  <div class="image">
    <img class="img" src="/img/bbq_new.jpg" alt="bbq_new">
  </div>
  <div class="name_holder">
    <span class="name">Барбекю New</span>
  </div>
  <div class="descr">
    <span class="description">Аппетитная пицца на классическом тонком итальянском тесте с ветчиной, пепперони, курицей, беконом, моцареллой, рукколой и соусом барбекю </span>
  </div>
<!-- <div class="select">
  <label for="" style="font-size: 13px;">Ингредиенты:</label>
  <button type="button" class="btn"><span style="color: goldenrod;">+</span> Добавить</button>
</div> -->
<!-- /.select -->
<div class="size">
  <div class="size_item size_item_active">Ø 30 см</div>
  <div class="size_item">Ø 40 см</div>
  <div class="size_item">Ø 50 см</div>
</div>
<!-- /.size -->
<div class="price_holder">
  <span class="price pr_inp"><input type="text" value='300' class="price_input" readonly style="border: none;">руб.</span>
  <button class="btn_order">Заказать</button>
</div>
<!-- /.price_holder -->

</div>

<input ref={input} placeholder={'hi'} readonly value={c.price.small} />

<b>{title === '' ? c.price.small : title}</b>